<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Prizorgi - A Plataforma amiga das ONGs</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white nav__prizorgi">
        <div class="container">
            <div>
            <a class="navbar-brand pt-3 py" href="index"><img src="./img/logo-prizorgi.png" alt="Logo da Prizorgi"></a>
        </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end nav-menu__prizorgi" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="index">Campanhas</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="cadastro-campanha"><img src="./img/menina.png" alt="Imagem de menina com chapéu"> Olá Jéssica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><small>Sair</small></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <section class="container causas__prizorgi py-5">
            <h2 class="font-weight-bold">Causas para doar</h2>
            <div class="d-flex flex-wrap pt-4">
                <div class="col-md-6 col-lg-4 p-0 card bg-dark text-white rounded-0 my-3 my-md-0">
                    <a href="page-doar-furacoes"><img src="./img/desastre01.jpg" class="card-img" alt="Casas destruídas pela passagem de um furacão">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <h4 class="card-title">Furacões</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-0 card bg-dark text-white rounded-0 my-3 my-md-0">
                    <a href="page-doar-enchentes"><img src="./img/desastre02.jpg" class="card-img" alt="Casas destruídas pela passagem de um furacão">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <h4 class="card-title">Enchentes</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-0 card bg-dark text-white rounded-0 my-3 my-md-0">
                    <a href="page-doar-fome"><img src="./img/desastre03.jpg" class="card-img" alt="Casas destruídas pela passagem de um furacão">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <h4 class="card-title">Fome</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-0 card bg-dark text-white rounded-0 my-3 my-md-0">
                    <a href="page-doar-remedios"><img src="./img/desastre04.jpg" class="card-img" alt="Casas destruídas pela passagem de um furacão">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <h4 class="card-title">Remédios</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-0 card bg-dark text-white rounded-0 my-3 my-md-0">
                    <a href="page-doar-leitos"><img src="./img/desastre05.jpg" class="card-img" alt="Casas destruídas pela passagem de um furacão">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <h4 class="card-title">Leitos</h5>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 px-0 card bg-dark text-white rounded-0 my-3 my-md-0">
                    <a href="page-doar-brumadinho"><img src="./img/brumadinho.jpg" class="card-img" alt="Casas destruídas pela passagem de um furacão">
                        <div class="card-img-overlay d-flex justify-content-center align-items-center">
                            <h4 class="card-title">Brumadinho</h5>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer__prizorgi">
        <div class="container">
            <div class="row flex-wrap py-3 d-flex align-items-center py-3">
                <div class="col-md-4 col-12 d-flex justify-content-center footer-icons px-0">
                    <a href="#"><img src="./img/linkedin.svg" class="px-1" alt="Icone do Linkedin" target="blank"></a>
                    <a href="#"><img src="./img/instagram.svg" class="px-1" alt="Icone do Instagram"
                            target="blank"></a>
                    <a href="#"><img src="./img/facebook.svg" class="px-1" alt="Icone do Facebook" target="blank"></a>
                    <a href="#"><img src="./img/twitter.svg" class="px-1" alt="Icone do Twitter" target="blank"></a>
                </div>
                <div class="col-md-4 col-12 d-flex justify-content-center my-4 my-md-0 px-0 footer-icons text-white text-center text-weit font-weight-bold">
                    <p class="mb-0">© Copyright 2019 - Prizorg</a></p>
                </div>
                <div class="col-md-4 col-12 d-flex justify-content-center text-center px-0 pt-md-3">
                    <a class="footer-logo__prizorgi" href="./index.html"><img src="./img/logo-prizorgi.png" alt="Logo do SOS Criança Feliz"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>