<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900&display=swap" rel="stylesheet">
    <title>Prizorgi - A Plataforma amiga das ONGs</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white nav__prizorgi">
        <div class="container">
            <div>
                <a class="navbar-brand pt-3 py" href="index.html"><img src="./img/logo-prizorgi.png"
                        alt="Logo da Prizorgi"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end nav-menu__prizorgi" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="./index.html">Campanhas</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="#"><img src="./img/menina.png"
                                alt="Imagem de menina com chapéu"> Olá Jéssica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><small>Sair</small></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <body>
        <header class="container text-center my-4">
            <h1 class="subtitulo">Ajude as Vítimas de Brumadinho</h1>
            <div class="d-flex justify-content-center my-5">
                <img class="imagem-ong__prizorgi" src="./img/brumadinho.jpg" alt="Logo da Prizorgi">
            </div>
        </header>
        <section class="container">
            <p>
                A barragem que se rompeu em Brumadinho estava, segundo a mineradora Vale, inativa desde 2015, último ano em que recebeu rejeitos provenientes da produção da Mina Córrego do Feijão. Ainda de acordo com a empresa, a barragem era segura e possuía documentos que comprovavam essa condição.
            </p>
            <p>
                Não se sabe ao certo o motivo que levou ao rompimento da barragem. Por isso, investigações estão sendo realizadas para avaliar o caso. O que se sabe é que, no início da tarde do dia 25 de janeiro, a barragem rompeu-se, liberando 11,7 milhões de metros cúbicos de rejeitos de mineração, sem que nenhuma sirene de perigo fosse emitida.
            </p>
            <p>
                Muitas pessoas morreram em decorrência do rompimento da barragem em Brumadinho. Até o dia 01 de fevereiro de 2019, oitavo dia de buscas, haviam sido confirmadas 110 mortes, das quais 71 haviam sido identificadas. Como há ainda 238 pessoas desaparecidas, é possível que o número de mortes aumente.
            </p>
            <p>
                A grande quantidade de lama liberada com o rompimento da barragem em Brumadinho desencadeou enormes impactos ambientais negativos. Veja a seguir os principais danos ao meio ambiente causados por esse desastre:
            </p>
            <ul>
                <li>Fauna e flora: Com o rompimento da barragem da Vale em Brumadinho, uma grande quantidade de lama foi liberada, arrastando a vegetação e matando vários animais. O Instituto Estadual de Florestas divulgou nota em que informa que a área de vegetação impactada representa 147,38 hectares.</li>
                <li>Solo: A lama liberada com o rompimento da barragem apresenta em sua composição ferro e sílica, que irá alterar a composição original do solo da região. Além disso, quando a lama secar, será formada uma camada dura no solo, como se fosse uma capa. Dessa forma, o desenvolvimento de vegetação e a fertilidade do solo serão prejudicados.</li>
                <li>Água: A lama liberada pelo rompimento da barragem afetou o rio Paraopeba, um dos afluentes do rio São Francisco. Como consequência, animais e plantas aquáticas morreram em decorrência da redução da quantidade de oxigênio na água. Além de causar a morte do rio, a lama torna a água imprópria para consumo humano. Dados iniciais de monitoramento realizados pelo Governo de Minas Gerais informaram que a água apresenta riscos à saúde dos seres humanos e de outros animais.</li>
            </ul>
            <p class="text-center font-weight-bold my-3">Ajude as vítimas de Brumadinho a reconstruirem suas vidas!</p>
            
            <form action="/pay" method="post">
                <div class="button__form d-flex justify-content-center my-5">
                    <button type="submit" class="btn btn-teste btn-outline-secondary btn__prizorgi text-white font-weight-bold">Doar</button>
                </div>
            </form>
        </section>
    </body>
    <footer class="footer__prizorgi">
        <div class="container">
            <div class="row flex-wrap py-3 d-flex align-items-center py-3">
                <div class="col-md-4 col-12 d-flex justify-content-center footer-icons px-0">
                    <a href="#"><img src="./img/linkedin.svg" class="px-1" alt="Icone do Linkedin" target="blank"></a>
                    <a href="#"><img src="./img/instagram.svg" class="px-1"
                            alt="Icone do Instagram" target="blank"></a>
                    <a href="#"><img src="./img/facebook.svg" class="px-1" alt="Icone do Facebook" target="blank"></a>
                    <a href="#"><img src="./img/twitter.svg" class="px-1" alt="Icone do Twitter" target="blank"></a>
                </div>
                <div
                    class="col-md-4 col-12 d-flex justify-content-center my-4 my-md-0 px-0 footer-icons text-white text-center text-weit font-weight-bold">
                    <p class="mb-0">© Copyright 2019 - Prizorg</a></p>
                </div>
                <div class="col-md-4 col-12 d-flex justify-content-center text-center px-0 pt-md-3">
                    <a class="footer-logo__prizorgi" href="./index.html"><img src="./img/logo-prizorgi.png"
                            alt="Logo do SOS Criança Feliz"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</html>