<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900&display=swap" rel="stylesheet">
    <title>Prizorgi - Cuidando de Todos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white nav__prizorgi">
        <div class="container">
            <div>
                <a class="navbar-brand pt-3 py" href="index.html"><img src="./img/logo-prizorgi.png"
                        alt="Logo da Prizorgi"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end nav-menu__prizorgi" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="./index.html">Campanhas</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="#"><img src="./img/menina.png"
                                alt="Imagem de menina com chapéu"> Olá Jéssica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><small>Sair</small></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <body>
        <header class="container text-center my-4">
            <h1 class="subtitulo">Ajude as Vítimas com Leitos nos Hospitais</h1>
            <div class="d-flex justify-content-center my-5">
                <img class="imagem-ong__prizorgi" src="./img/desastre05.jpg" alt="Logo da Prizorgi">
            </div>
        </header>
        <section class="container">
            <p>O número de leitos disponíveis na rede pública de saúde diminuiu nos últimos oito anos. Mais de 34 mil leitos deixaram de existir, o que significa uma redução de 10%. O levantamento é do Conselho Federal de Medicina (CFM).
            O levantamento foi realizado com base no Cadastro Nacional de Estabelecimentos de Saúde e incluem as redes municipal, estadual e federal.</p>

            <p>“A falta de investimento é a questão mais determinante, mas não se pode esquecer também da competência administrativa. Então, isso significa dificuldade de acesso, perda de chances, de oportunidades de evitar sequelas, questões de complicações”, destacou Carlos Vital, presidente do Conselho Federal de Medicina.</p>

            <p>A redução no número de leitos para internação afetou 22 estados e 18 capitais. Mas foi maior na Região Sudeste, que perdeu 21.460 vagas. Só em São Paulo são menos 7.325 leitos. No Rio de Janeiro, a pior situação do país, menos 9.569 vagas.A diminuição dos leitos afeta diretamente os pacientes que precisam de internação. Doentes que, muitas vezes, esperam por uma vaga nos corredores dos hospitais.</p>

            <p>Nilton Cruz, de 74 anos, passou uma semana entre uma cadeira e uma maca no corredor do Hospital Federal de Bonsucesso, da Zona Norte do Rio. “Simplesmente pelo que eu estive lá, eu pensei que ia morrer. Em um dos episódios lá dentro, meia-noite e meia, passando mal, procurei a enfermaria, não tinha um enfermeiro para me atender”, explicou.</p>

            <p>Nilton era paciente cardíaco e também foi diagnosticado com insuficiência renal. Depois ele infartou em pleno corredor do hospital. Um dos médicos chegou a dizer que ele seria transferido para uma unidade de referência, mas isso não chegou a acontecer. Em menos de três dias depois, ele chegou a receber alta. “Eu continuava sentindo as dores”, afirmou.
            Ele não estava pronto para a alta. Tanto que passou 15 dias no Centro de Tratamento Intensivo e teve que passar por uma cirurgia.</p>

            <p>O Ministério da Saúde afirmou que está prevista a reposição de 3,5 mil profissionais para a atuação nos seis hospitais federais do Rio de Janeiro, o que vai possibilitar a disponibilização de mais leitos. O órgão afirmou ainda que o número de leitos em UTIs subiu de 2,7 mil para 21,4 nos últimos dez anos em todo o país. Em relação ao número de leitos gerais de internação, o Ministério da Saúde afirmou que a tendência mundial é de redução por causa dos avanços tecnológicos que permitem fazer tratamentos ambulatórios em casa.</p>

            <p class="text-center font-weight-bold my-3">Ajude as vítimas com leitos nos Hospitais!</p>
            

            <div class="button__form d-flex justify-content-center my-5">
                <button class="btn btn-teste btn-outline-secondary btn__prizorgi text-white font-weight-bold">Doar</button>
            </div>
        </section>
    </body>
    <footer class="footer__prizorgi">
        <div class="container">
            <div class="row flex-wrap py-3 d-flex align-items-center py-3">
                <div class="col-md-4 col-12 d-flex justify-content-center footer-icons px-0">
                    <a href="#"><img src="./img/linkedin.svg" class="px-1" alt="Icone do Linkedin" target="blank"></a>
                    <a href="#"><img src="./img/instagram.svg" class="px-1"
                            alt="Icone do Instagram" target="blank"></a>
                    <a href="#"><img src="./img/facebook.svg" class="px-1" alt="Icone do Facebook" target="blank"></a>
                    <a href="#"><img src="./img/twitter.svg" class="px-1" alt="Icone do Twitter" target="blank"></a>
                </div>
                <div
                    class="col-md-4 col-12 d-flex justify-content-center my-4 my-md-0 px-0 footer-icons text-white text-center text-weit font-weight-bold">
                    <p class="mb-0">© Copyright 2019 - Prizorg</a></p>
                </div>
                <div class="col-md-4 col-12 d-flex justify-content-center text-center px-0 pt-md-3">
                    <a class="footer-logo__prizorgi" href="./index.html"><img src="./img/logo-prizorgi.png"
                            alt="Logo do SOS Criança Feliz"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</html>